:root {
    --primary-color: #002244;
    --secondary-color: rgb(50, 48, 48);
    --terciary-color: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
    }



body {
    display: grid;
    font-family: var(--font-primary);
}

nav {
    display: flex;
    list-style: none;
}