@media screen and (min-width: 800px) {

    /* -------------------- HEADER -------------------- */

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;

        min-height: 80px;
        padding: 0 2rem;
        gap: 1rem;  
    }


    h1 {
        font-size: 2rem;
        white-space: nowrap;

    /* -------------------- MAIN -------------------- */
    main {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-gap: 1.5rem;
    }


    main h2 {
        font-size: 2rem;
    }

    /*
    3 columns of equal size on larger screens.
    */
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem 1.5rem;
    }

    .gallery figure {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gallery img {
        width: 100%;
    }
}
